* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Inter', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-wrapper {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
}
.home-page {
    font-family: inherit;
    width: 100%;
    height: 100vh;
    background-color: #336C8F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrapper {
    font-family: inherit;
    height: 176px;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    border-right: 3px solid #DBB839;
}
.logo {
    height: 117.5px;
    width: 113px;
}
.job-description {
    font-family: inherit;
    flex-shrink: 1;
    padding-left: 16px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
}
.highlight {
    color: #DBB839;
}
.description-adjustment {
    letter-spacing: 0.0287em;
}
.menu-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    padding: 8px;
    border-bottom: 4px solid #65AEDB;
    background-color: #112F42;
    color: #ffffff;
    display: flex;
    align-items: stretch;
    
}
.menu-wrapper {
    display: flex;
    align-items: stretch;
}
.menu-item {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.menu-item-link {
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color: #ffffff;
}
.menu-item-link:hover {
    color: #DBB839;
}
.menu-item-link.active {
    color: #DBB839;
}
.about-me {
    width: 100%;
    height: 100vh;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 64px;
    padding: 16px;
    display: flex;
}
.footer-link {
    flex-shrink: 1;
    text-decoration: none;
    margin-left: 16px;
}
.footer-link:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #DBB839;
}
.footer-icon {
    width: 32px;
    height: 32px;
}
.skip-link {
    position: absolute;
    bottom: 0;
    left: -160px;
    background: #112F42;
    color: #ffffff;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 450ms;
}
.skip-link:focus {
    outline: none;
    bottom: 0;
    left: 0;
    box-shadow: -1px -1px 0px 1px #DBB839;
}
@media screen and (max-width:490px) {
    .logo {
        height: 70.54px;
        width: 67.8px;
    }
    .job-description {
        font-size: 16px;
        line-height: 16px;
    }
}
