* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Inter', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
}
.home-page {
    font-family: inherit;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg.svg'), url('../images/bg.svg'), linear-gradient(180deg, #444444 0%, #222222 100%);
    background-blend-mode: overlay, overlay, normal;
    background-repeat: no-repeat;
    background-size: 50% auto, 50% auto, cover;
    background-position: -50% 115%, 135% -50%, center;
}
.logo-wrapper {
    font-family: inherit;
    width: fit-content;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 680px;
}
.highlight {
    color: #08FF77;
}
.social-wrapper {
    margin-top: 74px;
    height: 64px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}
.social-link {
    flex-shrink: 1;
    text-decoration: none;
    margin-left: 16px;
}
.social-link:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #08FF77;
}
.social-icon {
    width: 32px;
    height: 32px;
}
.skip-link {
    position: absolute;
    top: 0;
    left: -160px;
    height: 68px;
    background: #112F42;
    color: #ffffff;
    padding: 16px;
    border-bottom: 4px solid #65AEDB;
    z-index: 100;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 450ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skip-link:focus {
    outline: none;
    top: 0;
    left: 0;
}
@media screen and (max-width:490px) {
    .logo {
        width: 320px;
    }
}
